*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
.env


reito/__pycache__/
reservas/__pycache__/
usuarios/__pycache__/
vehiculos/__pycache__/
viajes/__pycache__/
usuarios/migrations/__pycache__/


reito/migrations/
reservas/migrations/
usuarios/migratios/
vehiculos/migrations/
viajes/migrations/
